(
    weights: {
        "Cosmicons": {
            "merchant": 25,
            "scammer": 5,
            "patrol": 20,
            "mystic": 2,
            "informant": 10,
            "smuggler": 3,
            "mechanic": 8,
            "distress": 5,
            "hunter": 10,
            "explorer": 5,
            "raider": 2,
            "scientist": 5,
            "challenger": 2,
        },
        "Celestials": {
            "merchant": 10,
            "scammer": 2,
            "patrol": 15,
            "mystic": 25,
            "informant": 5,
            "smuggler": 2,
            "mechanic": 5,
            "distress": 3,
            "hunter": 5,
            "explorer": 15,
            "raider": 0,
            "scientist": 13,
            "challenger": 1,
        },
        "Spirat": {
            "merchant": 15,
            "scammer": 25,
            "patrol": 8,
            "mystic": 2,
            "informant": 10,
            "smuggler": 15,
            "mechanic": 5,
            "distress": 5,
            "hunter": 5,
            "explorer": 5,
            "raider": 15,
            "scientist": 0,
            "challenger": 8,
        },
        "Webes": {
            "merchant": 35,
            "scammer": 5,
            "patrol": 15,
            "mystic": 2,
            "informant": 20,
            "smuggler": 5,
            "mechanic": 10,
            "distress": 2,
            "hunter": 3,
            "explorer": 3,
            "raider": 0,
            "scientist": 0,
            "challenger": 1,
        },
        "Archs": {
            "merchant": 5,
            "scammer": 5,
            "patrol": 25,
            "mystic": 2,
            "informant": 5,
            "smuggler": 3,
            "mechanic": 8,
            "distress": 10,
            "hunter": 12,
            "explorer": 5,
            "raider": 15,
            "scientist": 5,
            "challenger": 10,
        },
        "Spades": {
            "merchant": 5,
            "scammer": 25,
            "patrol": 8,
            "mystic": 20,
            "informant": 5,
            "smuggler": 5,
            "mechanic": 3,
            "distress": 2,
            "hunter": 15,
            "explorer": 2,
            "raider": 10,
            "scientist": 0,
            "challenger": 15,
        },
        "Neutral": {
            "merchant": 20,
            "scammer": 10,
            "patrol": 5,
            "mystic": 5,
            "informant": 10,
            "smuggler": 25,
            "mechanic": 10,
            "distress": 5,
            "hunter": 10,
            "explorer": 20,
            "raider": 25,
            "scientist": 2,
            "challenger": 5,
        },
    }
)
